body {
  margin: 0;
  padding: 0;
  background-image: url("./images/background2.png");
}

.buttons {
  float: right;
}

.input-text {
  color: white;
}

.add-note {
  padding-top: 4em;
}

.cw {
  text-align: center;
  color: white;
}
.title {
  padding: 1em;
}
