body {
  margin: 0;
  padding: 0;
  background-image: url("./images/background2.png");
}
.notes {
  margin: 10px;
}

.buttons {
  float: right;
}

.input-text {
  color: white;
}

.add-note {
  padding-top: 4em;
}

.cw {
  text-align: center;
  color: white;
}
.title {
  padding: 1em;
}

.post-it {
  text-decoration: none;
  color: #000;
  display: block;
  height: 10em;
  width: 10em;
  padding: 1em;
  -webkit-transform: rotate(-6deg);
  -o-transform: rotate(-6deg);
  -moz-transform: rotate(-6deg);
}

/* This gives the post it notes some rotation */
.post-it:nth-child(3n) {
  -o-transform: rotate(-3deg);
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
}
