body {
  margin: 0;
  padding: 0;
  background-image: url("./images/background2.png");
}
.notes {
  margin: 10px;
}
h4 {
  padding-left: 0px !important;
}

.buttons {
  font-family: tahoma;
  position: absolute;
  top: 0;
  right: 0;
}

.add-button {
  font-size: 48px;
  color: rgb(70, 196, 255);
}

.input-text {
  color: white;
}

.add-note {
  padding-top: 4em;
}

.cw {
  text-align: center;
  color: white;
}
.intro {
  padding: 0.5em;
}

.post-it {
  text-decoration: none;
  color: rgb(70, 196, 255);
  display: block;
  min-height: 10em;
  width: 10em;
  padding-top: 1em;
  -webkit-transform: rotate(-6deg);
  -o-transform: rotate(-6deg);
  -moz-transform: rotate(-6deg);
}

/* This gives the post it notes some rotation */
.post-it:nth-child(3n) {
  -o-transform: rotate(-3deg);
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
}

.post-it-text {
  float: left;
}

/* This ensures that the text content is clickable within the card */
.note-content {
  height: 100%;
}
.github {
  color: rgb(70, 196, 255);
}
